/*colori*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.containerMCP {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.my_flex {
  display: flex;
}

.my_flex_centerV {
  display: flex;
  align-items: center;
}

.horListStyle {
  display: flex;
  list-style: none;
}

/*style tag a*/

a {
  text-decoration: none;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
}

.topHeader {
  background-color: #0282F9;
  color: #FFF;
  padding: 5px 0;
}

.topHeadTxt {
  display: flex;
  justify-content: flex-end;
}

.topHeadTxt span {
  margin-left: 25px;
  font-size: 10px;
}

.jumboImg {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.dc_logo {
  width: 50px;
  height: 50px;
}

.linksBox {
  flex-grow: 1;
}

.linksBox .horListStyle {
  justify-content: space-around;
  /* .activePage {
      border-bottom: 3px solid $bgBlue;
      a {
          color: $bgBlue;
      }
  } */
}

.linksBox .horListStyle li {
  padding: 35px 0;
  border-bottom: 3px solid transparent;
}

.linksBox .horListStyle li a {
  font-size: 12px;
  font-weight: bold;
  color: #46464C;
}

.linksBox .horListStyle li:nth-child(2) {
  border-bottom: 3px solid #0282F9;
}

.linksBox .horListStyle li:nth-child(2) a {
  color: #0282F9;
}

.inputBox {
  display: flex;
  position: relative;
}

.inputBox input {
  width: 130px;
  border: none;
  border-bottom: 2px solid #0282F9;
  outline: none;
  padding-left: 15px;
  padding-right: 25px;
}

.inputBox input::-moz-placeholder {
  text-align: end;
  color: #46464C;
}

.inputBox input:-ms-input-placeholder {
  text-align: end;
  color: #46464C;
}

.inputBox input::placeholder {
  text-align: end;
  color: #46464C;
}

.inputBox i {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 5px;
  color: #46464C;
}

main {
  position: relative;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

main .my_btn_large {
  position: absolute;
  top: -25px;
  left: 190px;
  background-color: #0282F9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

main .my_btn_large a {
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

main .wrapper .my_btn {
  background-color: #0282F9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding: 10px;
}

main .wrapper .my_btn a {
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
}

.comicsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comicsBox .comicsCard {
  flex-basis: calc(100% / 6);
  padding: 0 5px;
}

.comicsBox .comicsCard .comicImg {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.comicsBox .comicsCard h5 {
  font-size: 10px;
  margin: 5px 0 35px;
}

.comicsBox .comicsCard h5 a {
  color: #FFF;
}

.blueBox {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: #0282F9;
}

.blueBox .container {
  display: flex;
  justify-content: space-around;
}

.blueBox .container a {
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.blueBox .container a i {
  font-size: 40px;
}

.blueBox .container a img {
  width: 40px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.blueBox .container a span {
  font-size: 10px;
  margin-left: 10px;
}

.mainComicPage {
  position: relative;
  background-color: #FFF;
  padding: 0;
}

.mainComicPage .blueLine {
  background-color: #0282F9;
  height: 40px;
  position: relative;
}

.mainComicPage .blueLine img {
  position: absolute;
  top: -160px;
  left: 320px;
  width: 120px;
  height: 190px;
}

.mainComicPage .blueLine .layover {
  position: absolute;
  top: -160px;
  left: 320px;
  width: 120px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #FFF;
}

.mainComicPage .blueLine .layover .comicBook {
  display: flex;
  justify-content: center;
  width: 60%;
  background-color: #0282F9;
}

.mainComicPage .blueLine .layover .comicBook a {
  color: #FFF;
  font-size: 10px;
}

.mainComicPage .blueLine .layover .gallery {
  display: flex;
  justify-content: center;
  background-color: #0282F9;
}

.mainComicPage .blueLine .layover .gallery a {
  color: #FFF;
  font-size: 10px;
}

.contentBox {
  display: flex;
  padding: 20px 20px 50px 20px;
}

.contentBox .lxSide {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contentBox .lxSide h2 {
  text-transform: uppercase;
  color: #003F5E;
}

.contentBox .lxSide .greenBar {
  display: flex;
  background-color: #55BA59;
  border-bottom: 1px solid #357739;
  font-size: 12px;
  margin: 15px 0;
}

.contentBox .lxSide .greenBar .price {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.contentBox .lxSide .greenBar .price span {
  color: #89E575;
}

.contentBox .lxSide .greenBar .price span strong {
  color: #FFF;
}

.contentBox .lxSide .greenBar .avBtn {
  border-left: 1px solid #357739;
  padding: 10px 20px;
}

.contentBox .lxSide .greenBar .avBtn a {
  color: #FFF;
}

.contentBox .lxSide p {
  color: #555555;
  font-size: 12px;
}

.contentBox .rxSide {
  width: 30%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.contentBox .rxSide span {
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #5A5555;
}

.mainBtmHalf {
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  background-color: #F6F6F6;
  padding-bottom: 100px;
  margin-bottom: 7px;
}

.mainBtmHalf .containerMCP {
  display: flex;
  padding: 20px;
}

.mainBtmHalf .containerMCP .tableBox {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.mainBtmHalf .containerMCP .tableBox h3 {
  margin-bottom: 15px;
  color: #003F5E;
}

.mainBtmHalf .containerMCP .tableBox .rowBox {
  display: flex;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  padding: 10px 0;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxTitle {
  width: 30%;
  display: flex;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxTitle span {
  font-size: 12px;
  font-weight: bold;
  color: #003F5E;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxList {
  width: 70%;
  display: flex;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxList a {
  color: #0282F9;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxList span {
  font-size: 14px;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .boxList span a {
  font-size: 10px;
  color: #0282F9;
  text-transform: capitalize;
}

.mainBtmHalf .containerMCP .tableBox .rowBox .lineH {
  line-height: 10px;
}

.mainBtmHalf .containerMCP .tableBox:first-child {
  padding-right: 50px;
}

.mainBtmHalf .containerMCP .tableBox:first-child .rowBox:last-child {
  border-top: none;
}

.mainBtmHalf .containerMCP .tableBox:last-child .rowBox:nth-child(3) {
  border: none;
}

.btnBanner {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color: #F6F6F6;
  z-index: 1;
}

.btnBanner .containerMCP {
  display: flex;
}

.btnBanner .containerMCP a {
  flex-basis: calc(100% / 4);
}

.btnBanner .containerMCP a .bannerCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
}

.btnBanner .containerMCP a .bannerCard span {
  color: #AA9F9F;
  font-size: 10px;
  font-weight: bold;
}

.btnBanner .containerMCP a .bannerCard .imgWindow {
  width: 37px;
  height: 37px;
  background-image: url("/images/cta-icons.png");
}

.btnBanner .containerMCP a:nth-child(2) .bannerCard {
  border-left: none;
}

.btnBanner .containerMCP a:nth-child(2) .bannerCard .imgWindow {
  width: 40px;
  background-position: 40px 0;
}

.btnBanner .containerMCP a:nth-child(3) .bannerCard {
  border-left: none;
}

.btnBanner .containerMCP a:nth-child(3) .bannerCard .imgWindow {
  width: 38px;
  background-position: 74.5px 0;
}

.btnBanner .containerMCP a:nth-child(4) .bannerCard {
  border-left: none;
}

.btnBanner .containerMCP a:nth-child(4) .bannerCard .imgWindow {
  width: 40px;
  background-position: 113px 0;
}

footer {
  position: relative;
}

.topFooter {
  background-repeat: no-repeat;
}

.textBox {
  width: 55%;
  padding-top: 50px;
}

.columnText {
  flex-basis: calc(100% / 3);
}

.columnText h4 {
  color: #FFF;
  margin: 10px 0;
}

.columnText ul {
  list-style: none;
}

.columnText ul li a {
  font-size: 10px;
  color: #959595;
}

.rights {
  color: #959595;
  font-size: 10px;
  margin-top: 10px;
}

.rights a {
  color: #0282F9;
  text-transform: lowercase;
}

.logoBgBox {
  width: 45%;
}

.logoBgBox img {
  width: 100%;
}

.signUpBtn {
  flex-grow: 1;
}

.signUpBtn a {
  color: #FFF;
  border: 2px solid #0282F9;
  padding: 10px;
}

.bottomFooter {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  background-color: #303030;
  padding: 25px 0;
  z-index: 1;
}

.socialBox {
  width: 40%;
  justify-content: space-between;
}

.socialBox a {
  width: 40%;
  text-align: end;
  font-weight: bold;
  color: #0282F9;
}

.socialBox .horListStyle {
  width: 50%;
  justify-content: space-between;
}

.socialBox .horListStyle li a img {
  width: 30px;
  height: 30px;
}

