.mainComicPage {
    position: relative;
    background-color: $txtWhite;
    padding: 0;
    .blueLine {
        background-color: $bgBlue;
        height: 40px;
        position: relative;
        img {
            position: absolute;
            top: -160px;
            left: 320px;
            width: 120px;
            height: 190px;
        }
        .layover {
            position: absolute;
            top: -160px;
            left: 320px;
            width: 120px;
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid $txtWhite;
            .comicBook {
                display: flex;
                justify-content: center;
                width: 60%;
                background-color: $bgBlue;
                a {
                    color: $txtWhite;
                    font-size: 10px;
                }
            }
            .gallery {
                display: flex;
                justify-content: center;
                background-color: $bgBlue;
                a {
                    color: $txtWhite;
                    font-size: 10px;
                }
            }
        }
    }
}

.contentBox {
    display: flex;
    padding: 20px 20px 50px 20px;
    .lxSide {
        display: flex;
        flex-direction: column;
        width: 70%;
        h2 {
            text-transform: uppercase;
            color: #003F5E;
        }
        .greenBar {
            display: flex;
            background-color: #55BA59;
            border-bottom: 1px solid #357739;
            font-size: 12px;
            margin: 15px 0;
            .price {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                span {
                    color: #89E575;
                    strong {
                        color: $txtWhite;
                    }
                }
            }
            .avBtn {
                border-left: 1px solid #357739;
                padding: 10px 20px;
                a {
                    color: $txtWhite;
                } 
            }
        }
        p {
            color: #555555;
            font-size: 12px;
        }
    }
    .rxSide {
        width: 30%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        span {
            text-align: end;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            color: #5A5555;
        }
    }
}

.mainBtmHalf {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background-color: #F6F6F6;
    padding-bottom: 100px;
    margin-bottom: 7px;
    .containerMCP {
        display: flex;
        padding: 20px;
        .tableBox {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            h3 {
                margin-bottom: 15px;
                color: #003F5E;
            }
            .rowBox {
                display: flex;
                border-top: 1px solid #E3E3E3;
                border-bottom: 1px solid #E3E3E3;
                padding: 10px 0;
                .boxTitle {
                    width: 30%;
                    display: flex;
                    span {
                        font-size: 12px;
                        font-weight: bold;
                        color: #003F5E;
                    }
                }
                .boxList {
                    width: 70%;
                    display: flex;
                    a {
                        color: $bgBlue;
                    }
                    span {
                        font-size: 14px;
                        a {
                            font-size: 10px;
                            color: $bgBlue;
                            text-transform: capitalize;
                        }
                    }
                }
                .lineH {
                    line-height: 10px;
                }
            }
        }
        .tableBox:first-child {
            padding-right: 50px;
            .rowBox:last-child {
                border-top: none;
            }   
        }
        .tableBox:last-child {
            .rowBox:nth-child(3) {
                border: none;
            }   
        }
    }
}

.btnBanner {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    background-color: #F6F6F6;
    z-index: 1;
    .containerMCP {
        display: flex;
        a {
            flex-basis: calc(100% / 4);
            .bannerCard {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border-right: 1px solid #E3E3E3;
                border-left: 1px solid #E3E3E3;
                span {
                    color: #AA9F9F;
                    font-size: 10px;
                    font-weight: bold;
                }
                .imgWindow {
                    width: 37px;
                    height: 37px;
                    background-image: url('/images/cta-icons.png');
                }
            }
        }
        a:nth-child(2) {
            .bannerCard {
                border-left: none;
                .imgWindow {
                    width: 40px;
                    background-position: 40px 0;
                }
            }
        }
        a:nth-child(3) {
            .bannerCard {
                border-left: none;
                .imgWindow {
                    width: 38px;
                    background-position: 74.5px 0;
                }
            }
        }
        a:nth-child(4) {
            .bannerCard {
                border-left: none;
                .imgWindow {
                    width: 40px;
                    background-position: 113px 0;
                }
            }
        }
    }
}